
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

body  {
    max-width: 980px;
    margin: auto;
}

@media (min-width: 500px) {
      header .container-block {
         display: grid;
         grid-template-columns: 3fr;
     }
}

@media (min-width: 660px) {
      header .container-block {
         grid-template-columns: 3fr 4fr;
     }
}

@media (min-width: 980px) {
header .container-block {
    grid-template-columns: 3fr 4fr 3fr;
   }
}

.logo {
    font-family: 'Righteous', cursive;
    font-size: 4rem;
    margin: 10px;
    width: 250px;
}

.ramka {
    white-space: nowrap;
    width: 200px;
    border: 5px solid black;
    overflow: hidden;
    text-overflow: clip;
}

.container-block img {
    margin: 30px;
    width: 250px;
}

.basket {
    width: 20px;
}

.basket img {
    width: 50px;
}

.footer-map {
    display: block;
    width: 100%;
    text-align: center;
}

footer .found {
     text-align: center;
}

.street {
    align-content: center;
}
