
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

body  {
    max-width: 980px;
    margin: auto;
}

@media (min-width:550px) {
      .container-block {
         display: flex;
     }
}

.logo {
    font-family: 'Righteous', cursive;
    font-size: 4rem;
    margin: 10px;
    width: 250px;
}

.ramka {
    white-space: nowrap;
    width: 200px;
    border: 5px solid black;
    overflow: hidden;
    text-overflow: clip;
}

.container-block {
    display: grid;
    grid-template-columns: 300px 400px 300px;

}

.container-block img {
    margin: 30px;
    width: 250px;

}

.basket {
    width: 20px;


}

.basket img {
    width: 50px;

}